*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}
/* Navigation Bar */
.navbar{
    margin: 0;
    height: 50px;
    border-bottom: 1px solid black;
    background-color: #19242F;
}
.navbar .logo{
    margin-left: 15px;
    height: 50px;
    float: left;
}
.navbar .logo h1{
    margin: 0;
    line-height: 50px;
    font-size: 40px;
    color: #E5E8E8;
    cursor: pointer;
}
.navbar .sideButton{
    margin-right: 5px;
    float: right;
}
.navbar .sideButton .sideLink{
    float: left;
    line-height: 50px;
    margin-right: 5px;
}
.navbar .sideButton .sideLink a{
    color: #E5E8E8;
    text-decoration: none;
}
.navbar .sideButton .sideLink a:hover{
    text-decoration: underline;
}
.navbar .sideButton .trash{
    float: right;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    margin-right: 5px;
}
.navbar .sideButton .trash button{
    height: 100%;
    width: 100%;
    background-image: url("https://img.icons8.com/color/48/000000/trash.png");
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.navbar .sideButton .trash button:hover{
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.navbar .sideButton .trash button:focus{
    outline: 0;
}
@keyframes shake{
    0% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    100% {transform: rotate(20deg);}
}
/* End Navigation Bar */
/* Container */
.container{
    height: 54em;
    position: relative;
    background-color: #C5C9CD;
}
.container .listObject{
    border: 0.4px solid black;
    position: absolute;
    top: 25%;
    left: 50%;
    right: -50%;
    transform: translate(-50%, -25%);
    max-width: 750px;
    background-color: #E6ECF2;
    border-radius: 10px;
}
.container .listObject .listTitle{
    border-bottom: 0.95px solid black;
    border-left: 0.5px solid black;
    border-right: 0.3px solid black;
    border-top: 0.8px solid black;
    height: 75px;
    position: relative;
    background-color: #ABBCCF;
    border-radius: 10px 10px 0 0;
}
.container .listObject .listTitle .date{
    float: left;
    height: 35px;
    margin-left: 5px;
}
.container .listObject .listTitle .date h2{
    line-height: 75px;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
}
.container .listObject .listTitle .listButton{
    position: absolute;
    float: right;
    height: 40px;
    width: 40px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.container .listObject .listTitle .listButton button{
    background: #F2F3F4;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 0.8px black solid;
    font-size: 32px;
    color: #82E0AA;
    cursor: pointer;
}
.container .listObject .listTitle .listButton button:focus{
    outline: 0;
}
.container .listObject .listContent{
    height: 600px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.container .listObject .listContent::-webkit-scrollbar{
    display: none;
}
.container .listObject .listContent .listItem{
    border-bottom: 0.8px black solid;
    border-left: 0.8px black solid;
}
.container .listObject .listContent .listItemContent{
    margin: auto;
    height: 60px;
}
.container .listObject .listContent .listItemContent input{
    width: 92%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 24px;
    border: none;
    float: left;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container .listObject .listContent .listItemContent button{
    width: 5%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
}
.close {
    float: right;
    width: 8%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
    background-color: #fff;
    cursor: pointer;
  }
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  @keyframes slide{
      10% {transform: translateX(10%);}
      20% {transform: translateX(20%);}
      30% {transform: translateX(30%);}
      40% {transform: translateX(40%);}
      50% {transform: translateX(50%);}
      60% {transform: translateX(60%);}
      70% {transform: translateX(70%);}
      80% {transform: translateX(80%);}
      90% {transform: translateX(90%);}
      100% {transform: translateX(100%);}
  }
/* End Container */
/* Footer */
footer{
    min-height: 50px;
    border-top: 1px solid black;
    color: #E5E8E8;
    background-color: #19242F;
}
footer .coder{
    float: right;
    height: 100%;
    line-height: 50px;
    cursor: default;
}
footer .credit{
    float: left;
    max-width: 250px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    margin-left: 10px;
}
footer .credit h4{
    display: inline;
    cursor: default;
}
footer .credit a{
    color: black;
    word-break: break-all;
}

/* End Footer */
/*Login Box*/
.loginBox{
    position: absolute;
    height: 35em;
    width: 35em;
    background-color: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loginContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loginContent h3{
    margin-bottom: 5px;
    font-size: 24px;
}
.loginContent input{
    font-size: 24px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#loginHeading{
    margin: 20px;
    font-size: 32px;
}
.loginFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 20px;
}
#submitButton{
    position: absolute;
    right: 0;
    transform: translate(-40px, -20px);
    font-size: 24px;
    padding: 5px;
    border-radius: 5px;
    border: .5px solid black;
    background-color: transparent;
}
#submitButton:hover{
    background-color: #333;
    color: white;
}
/*End Login Box*/
